* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#books-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 24px;
}

.book-item {
    background-color: rgb(204, 75, 75);
    border-radius: 4px;
}

#new-book-btn {
    background-color: rgb(59, 59, 255);
    border-radius: 2px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}
